Options -Indexes

<Files .htaccess>
  order allow,deny
  deny from all
</Files>

<Files config.php>
  order allow,deny
  deny from all
</Files>

<Files define.php>
  order allow,deny
  deny from all
</Files>

RewriteEngine On
#RewriteRule ^/?css(/.*)?$          	/min/?f=css$1 [L,R]
#RewriteRule ^/?js(/.*)?$           	/min/?f=js$1 [L,R]
RewriteRule ^css/stylesheet.css			css/stylesheet.php
RewriteRule ^sitemap.xml      			sitemap.php
RewriteRule ^robots.txt   				robots.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*?)/?$ index.php?url=$1 [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+?)/$ index.php?url=$1 [QSA,L]
