.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action div {
    display: flex;
    gap: 1rem;
}

.main {
    width: 100%;
    height: 80vh;
    position: relative;
}

.control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.img-wrap {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.list-img {
    display: flex;
}

.list-img div {
    padding: 5px;
    flex: 1;
    background-color: #bbb;
    cursor: pointer;
}

.list-img div.active {
    background-color: rgb(220, 86, 86);
}

.criterias {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.criteria {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.criteria i {
    font-size: 12px;
    padding: 4px;
    color: #fff;
    background-color: #1cc88a;
    border-color: #1cc88a;
    border-radius: 50%;
}

.criteria p {
    margin-bottom: 0;
    margin-left: 10px;
}